.contact{

    width:100%;
    min-height:100vh;
    background:#0f172a;
    color:white;
    padding:100px 10%;

}

.contact h4{

    text-align:center;
    color:#00abf0;
    font-size:22px;

}

.contact h2{

    text-align:center;
    font-size:45px;
    margin-bottom:60px;

}

.contact-container{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;

}

/* Left */

.contact-info h3{

    font-size:32px;
    margin-bottom:20px;

}

.contact-info p{

    color:#d1d5db;
    line-height:1.8;
    margin-bottom:30px;

}

.info-box{

    display:flex;
    align-items:center;
    margin-bottom:20px;

}

.icon{

    color:#00abf0;
    font-size:24px;
    margin-right:15px;

}

.social-links{

    display:flex;
    gap:20px;
    margin-top:30px;

}

.social-links a{

    width:50px;
    height:50px;
    border-radius:50%;
    background:#112e42;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#00abf0;
    font-size:22px;
    transition:.3s;

}

.social-links a:hover{

    background:#00abf0;
    color:white;

}

/* Right */

.contact-form{

    display:flex;
    flex-direction:column;

}

.contact-form input,
.contact-form textarea{

    background:#112e42;
    color:white;
    border:none;
    padding:16px;
    margin-bottom:20px;
    border-radius:10px;
    font-size:16px;
    outline:none;

}

.contact-form textarea{

    resize:none;

}

.contact-form button{

    background:#00abf0;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;

}

.contact-form button:hover{

    background:#0284c7;

}

/* Responsive */

@media(max-width:768px){

.contact-container{

grid-template-columns:1fr;

}

.contact h2{

font-size:35px;

}

}