/* ===== Navbar ===== */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#081b29;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

/* Logo */

.logo h2{
    color:#00abf0;
    font-size:30px;
    font-weight:700;
    cursor:pointer;
}

/* Menu */

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:35px;
}

.nav-links li a{
    text-decoration:none;
    color:#ffffff;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

.nav-links li a:hover{
    color:#00abf0;
}

/* Responsive */

@media(max-width:768px){

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav-links{
    flex-direction:column;
    text-align:center;
    margin-top:20px;
}

.nav-links li{
    margin:12px 0;
}

.logo h2{
    font-size:26px;
}

}