* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}

.App {
  width: 100%;
  min-height: 100vh;
}